<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sondage</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	
	<!-- /global stylesheets -->

	<!-- Core JS files -->


	<!-- /core JS files -->

	<!-- Theme JS files -->
	
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
<app-app-main-navbar></app-app-main-navbar>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
				<app-app-usermenu></app-app-usermenu>
					<!-- /user menu -->


					<!-- Main navigation -->
				<app-app-main-navigation></app-app-main-navigation>
				
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">
  
				<!-- Page header -->
			<app-app-header></app-app-header>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">

					<!-- Main charts -->
					
					<!-- /main charts -->

					<!-- dashboard content -->

				
					<!-- /dashboard content -->

 <router-outlet></router-outlet>
					<!-- Footer -->
				<app-app-footer></app-app-footer>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>