<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sondage</title>

	<!-- Global stylesheets -->

	


</head>

<body>

	<!-- Main navbar -->
<app-app-main-navbar></app-app-main-navbar>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
				<app-app-usermenu></app-app-usermenu>
					<!-- /user menu -->


					<!-- Main navigation -->
				<app-app-main-navigation></app-app-main-navigation>
				
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


		

 <router-outlet></router-outlet>
		

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>