	<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>

							
								<li>
									<a [routerLink]="['/']"  ><i class="icon-home4"></i> <span>Dashboard</span></a>
                                
								</li>
							
							
								<li>
									<a ><i class="icon-copy"></i> <span>Questionnaire</span></a>
									<ul>
										<li><a [routerLink]="['/questionnaires']" id="layout1">Liste de questionnaires</a></li>
										
									</ul>
								</li>

								<li>
									<a ><i class="icon-users"></i> <span>Personnel</span></a>
									<ul>
										<li><a [routerLink]="['/personnels']" id="layout1">Liste de personnels</a></li>
										
									</ul>
								</li>
							
								

								<!-- /main -->

								<!-- Forms -->
							
								<!-- /forms -->

								<!-- Appearance -->
								
								<!-- /appearance -->

								<!-- Layout -->
							
								<!-- /layout -->

								<!-- Data visualization -->
							
								<!-- /data visualization -->

								<!-- Extensions -->
								
								<!-- /extensions -->

								<!-- Tables -->
								
								<!-- /tables -->

								<!-- Page kits -->
								
								<!-- /page kits -->

							</ul>
						</div>
					</div>