		<div class="page-header page-header-default has-cover" >
					<div class="page-header-content">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{{first}}</span> - {{second}}</h4>
						</div>

						<div class="heading-elements">
							<div class="heading-btn-group">
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
								</div>
						</div>
					</div>

					<div class="breadcrumb-line">

						<ul  *ngIf="second_bool;  else falsyTemplateclass" class="breadcrumb">
							<li><a [routerLink]="['/']"><i class="icon-home2 position-left"></i>Acceuil</a></li>
							<li ><a [routerLink]="second_url"> {{first}}</a></li>
							<li class="active" >{{second}}</li>
						</ul>
						<ng-template #falsyTemplateclass>
							<ul class="breadcrumb">
							<li><a [routerLink]="['/']"><i class="icon-home2 position-left"></i>Acceuil</a></li>
							<li class="active">{{first}}</li>
						
						</ul>
						</ng-template>

					</div>
				</div>