<!-- Highlighted tabs -->
<div class="row">
		


	
			
					</div>
	

	<!-- /highlighted tabs -->
		
					
					
					
					
					
				<div class="row">
		
	
							<div class="col-lg-12">
	<!-- Latest posts -->
	<div class="panel panel-flat">
		<div class="panel-heading">
			<h6 class="panel-title">Citizen/Regions </h6>
			<div class="heading-elements">
				<ul class="icons-list">
									<li><a data-action="collapse"></a></li>
									<li><a data-action="reload"></a></li>
									<li><a data-action="close"></a></li>
								</ul>
							</div>
						</div>

		<div class="panel-body">
			<div class="row">



				
			

				<div>
						<div style="display: block">
						  <canvas baseChart
								  [datasets]="barChartData"
								  [labels]="barChartLabels"
								  [options]="barChartOptions"
								  [legend]="barChartLegend"
								  [chartType]="barChartType"
								  (chartHover)="chartHovered($event)"
								  (chartClick)="chartClicked($event)"></canvas>
						</div>
					
					  </div>

				<div class="col-lg-6">
					<ul class="media-list content-group">
					

				
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /latest posts -->
							</div>

						</div>	

